---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import Modal from "../../components/Modal.astro";
import Capa from "../../components/Capa.astro";
import Destaques from "../../components/Destaques.astro";
import Section from "../../components/Section.astro";
import CardAprovacoes from "../../components/CardAprovacoes.astro";
import Accordeon from "../../components/Accordeon.astro";
import Cardserv from "../../components/Cardserv.astro";
import CardDepoimentos from "../../components/CardDepoimentos.astro";

import capa from "../../img/turma ita.png";
import video from "../../img/Desvende os segredos - Revisão ITA.png";
import materiais from "../../img/materiais.png";

import { getEntry } from "astro:content";
const turmas = await getEntry("produtos", "turmas");
const perguntas = await getEntry("alunos", "perguntas");
const depoimentos = await getEntry("alunos", "depoimentos");
const aprovados = await getEntry("alunos", "aprovados");
const destaques = await getEntry("produtos", "destaques");
const serv = await getEntry("produtos", "serv");
---

<Layout
  title="Turma Catalise Revisão ITA: Conquiste seus sonhos com a gente!"
  description = "Aproveite a reta final do vestibular do ITA para construir o diferencial da sua aprovação."
>
  <main class="container">
    <Capa
      title="Acelere sua preparação para o ITA: Revisão intensiva e focada na reta final"
      destaque=""
      botao="Quero acelerar minha preparação"
      link="#valorREVITA"
      estilo="capa-page"
    >
      <p class="txt-capa" slot="conteudo">
        Domine os principais assuntos com revisões focadas, resoluções em vídeo e apoio exclusivo na reta final.
      </p>
      <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
    </Capa>
    <Destaques destaques={destaques} page="REVISAO ITA" />
    <Section
      estilo="claro"
      titulo="Acelere sua aprovação nesta reta final"
      video
      vlink={turmas}
      key="revisao-ita"
    >
      <ul class="capa-itens" slot="conteudo">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
          Preparação focada nos assuntos mais importantes
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
          Acesso a estratégias de estudo testadas e comprovadas
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
          Resolução de provas antigas em vídeo 
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
          Orientação personalizada para identificar pontos fortes e fracos
        </li>
      </ul>
      <Image src={video} alt="Capa do Catálise" class="img-capa-video" />
    </Section>
    <Section
      estilo="centro"
      colunas="col3"
      tag="Conteúdo da Revisão"
      titulo="Aulas de revisão"
      subtitulo="Tenha acesso a aulas que cobrem os tópicos mais importantes para o ITA. Revisões precisas e eficientes para garantir que você não perca nada na reta final."
    >
      <div class="tema">
        <h2>Matemática</h2>
        <ul>
          <li>Geometria Plana</li>
          <li>Geometria Analítica</li>
          <li>Geometria Espacial</li>
          <li>Trigonometria</li>
        </ul>
        <button
          aria-label="Veja mais"
          id="modal-matematica_trigger"
          class="btn-tema">Veja mais</button
        >
      </div>
      <div class="tema">
        <h2>Física</h2>
        <ul>
          <li>Cinemática</li>
          <li>Dinâmica</li>
          <li>Termodinâmica</li>
          <li>Eletrostática</li>
        </ul>
        <button
          aria-label="Veja mais"
          id="modal-fisica_trigger"
          class="btn-tema">Veja mais</button
        >
      </div>
      <div class="tema">
        <h2>Química</h2>
        <ul>
          <li>Funções Inorgânicas</li>
          <li>Reações inorgânicas</li>
          <li>Oxirredução</li>
          <li>Gases</li>
        </ul>
        <button
          aria-label="Veja mais"
          id="modal-quimica_trigger"
          class="btn-tema">Veja mais</button
        >
      </div>
    </Section>
    <Section
      estilo="centro"
      tag="O que mais vamos te entregar"
      titulo="Nós pensamos em tudo!"
      subtitulo="Veja o que mais você vai ter acesso para conquistar a sua tão sonhada aprovação"
      colunas="col4"
    >
      <Cardserv serv={serv} page="REVISAO ITA" />
    </Section>
    <Section
      estilo="claro aprovacoes"
      tag="Aprovações"
      titulo="Conheça nossos aprovados no ITA"
      subtitulo="Assista as inspiradoras jornadas de nossos alunos aprovados no ITA. Eles acreditaram no sonho, perseveraram e conquistaram o topo. O próximo pode ser você!"
    >
      <CardAprovacoes aprovados={aprovados} page="" />
    </Section>

    <Capa
    title="Garanta"
    linha
    destaque=" sua Vaga!"
    botao="Quero acelerar minha preparação!"
    link="https://pay.hotmart.com/B74208231D?off=75lu3sk1"
    id="matricula"
    estilo="capa-page"
  >
    <p class="txt-capa" slot="conteudo">
      A reta final para o ITA exige uma revisão intensa e estratégica - e é isso que oferecemos!
    </p>
    <ul class="capa-itens" slot="conteudo">
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 480 480"
        >
          <path
            fill="#fff"
            d="M111.69 47.84a16 16 0 0 0-11 4.85l-62.6 62.6a16.01 16.01 0 0 0 .03 25.46l62.57 62.56a16.01 16.01 0 1 0 22.62-22.62L86.62 144H304c62.04 0 112 49.96 112 112s-49.96 112-112 112h-64a16.02 16.02 0 0 0-11.46 27.4A16.02 16.02 0 0 0 240 400h64c73.67 0 132.4-56.52 140.75-128H448v-16c0-79.34-64.66-144-144-144H86.62l36.7-36.69a16 16 0 0 0-11.63-27.47ZM48 368a16 16 0 1 0 0 32 16 16 0 0 0 0-32Zm64 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32Zm64 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32Z"
          ></path>
        </svg>
        Garantimos seu dinheiro de volta por até 7 dias
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 480 480"
        >
          <path
            fill="#fff"
            d="M352 16H128a32 32 0 0 0-32 32v384a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V48a32 32 0 0 0-32-32Zm-72 16a8 8 0 1 1 0 16 8 8 0 0 1 0-16Zm-64 0h32a8 8 0 0 1 0 16h-32a8 8 0 0 1 0-16Zm136 400H128V48h48l6.62 6.62c6 6 14.15 9.38 22.63 9.38h69.49a32 32 0 0 0 22.62-9.38L304 48h48v384Z"
          ></path>
        </svg>
        Estude do seu jeito e em qualquer dispositivo
      </li>
    </ul>
    <h1 class="valorREVITA" slot="conteudo">12 x R$ 39,62 <p>ou R$ 397,00 à vista</p></h1>
    <Image
      src={capa}
      alt="Capa do Catálise"
      class="img-capa img-capa-valor"
      slot="imagem"
    />
  </Capa>

    <Section
      estilo="centro"
      tag=""
      titulo="Trilha de estudos"
      subtitulo="Esta é uma trilha estratégica de estudos que o aluno poderá seguir utilizando todos os entregáveis da revisão"
      colunas="col4 g4"
    >
      <div class="rotina">
        <div>1</div>
        <div>
          <h2>Provas<br />remodeladas</h2>
          <p>
            Separe um tempo e resolva cada uma das provas remodeladas. Ao todo fornecemos 9 provas remodeladas </p>
        </div>
      </div>
      <div class="rotina">
        <div>2</div>
        <div>
          <h2>Planilha<br />de correção</h2>
          <p>Faça uma análise da sua planilha individual de correção e identifique seus pontos fortes e fracos.</p>
        </div>
      </div>
      <div class="rotina">
        <div>3</div>
        <div>
          <h2>Resoluções<br />em Vídeo</h2>
          <p>
            Assista as resoluções em vídeo e identifique os pontos que você não sabia ainda.
          </p>
        </div>
      </div>
      <div class="rotina">
        <div>4</div>
        <div>
          <h2>Revisão<br />teórica</h2>
          <p>
            Vá até a plataforma e assista as aulas dos assuntos mais importantes de matemática, física e química.
          </p>
        </div>
      </div>
      <div class="rotina">
        <div>5</div>
        <div>
          <h2>Aulas<br />Ao Vivo</h2>
          <p>
            Aproveite as aulas ao vivo para conhecer novas ideias de questões e também tirar suas dúvidas com os professores.
          </p>
        </div>
      </div>
      <div class="rotina">
        <div>6</div>
        <div>
          <h2>Receba todo o<br />suporte necessário</h2>
          <p>
            Aproveite o contato próximo com os aprovados no ITA participando das mentorias e utilizando o suporte da coordenação.
          </p>
        </div>
      </div>
    </Section>
    <Section
      estilo="claro"
      tag="Depoimentos"
      titulo="Compartilhe a experiência dos nossos alunos"
      subtitulo="Conheça as inspiradoras jornadas de nossos alunos aprovados no ITA. Eles acreditaram no sonho, perseveraram e conquistaram o topo. O próximo pode ser você!"
    >
      <div class="depoimentos">
        <CardDepoimentos depoimentos={depoimentos} page="" />
      </div>
    </Section>
    <Capa
      title="Garanta"
      linha
      destaque=" sua Vaga!"
      botao="Quero acelerar minha preparação!"
      link="https://pay.hotmart.com/B74208231D?off=75lu3sk1"
      id="matricula"
      estilo="capa-page"
    >
      <p class="txt-capa" slot="conteudo">
        A reta final para o ITA exige uma revisão intensa e estratégica - e é isso que oferecemos!
      </p>
      <ul class="capa-itens" slot="conteudo">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 480 480"
          >
            <path
              fill="#fff"
              d="M111.69 47.84a16 16 0 0 0-11 4.85l-62.6 62.6a16.01 16.01 0 0 0 .03 25.46l62.57 62.56a16.01 16.01 0 1 0 22.62-22.62L86.62 144H304c62.04 0 112 49.96 112 112s-49.96 112-112 112h-64a16.02 16.02 0 0 0-11.46 27.4A16.02 16.02 0 0 0 240 400h64c73.67 0 132.4-56.52 140.75-128H448v-16c0-79.34-64.66-144-144-144H86.62l36.7-36.69a16 16 0 0 0-11.63-27.47ZM48 368a16 16 0 1 0 0 32 16 16 0 0 0 0-32Zm64 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32Zm64 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32Z"
            ></path>
          </svg>
          Garantimos seu dinheiro de volta por até 7 dias
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 480 480"
          >
            <path
              fill="#fff"
              d="M352 16H128a32 32 0 0 0-32 32v384a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V48a32 32 0 0 0-32-32Zm-72 16a8 8 0 1 1 0 16 8 8 0 0 1 0-16Zm-64 0h32a8 8 0 0 1 0 16h-32a8 8 0 0 1 0-16Zm136 400H128V48h48l6.62 6.62c6 6 14.15 9.38 22.63 9.38h69.49a32 32 0 0 0 22.62-9.38L304 48h48v384Z"
            ></path>
          </svg>
          Estude do seu jeito e em qualquer dispositivo
        </li>
      </ul>
      <h1 class="valorREVITA" slot="conteudo">12 x R$ 39,62 <p>ou R$ 397,00 à vista</p></h1>
      <Image
        src={capa}
        alt="Capa do Catálise"
        class="img-capa img-capa-valor"
        slot="imagem"
      />
    </Capa>
    <Section estilo="claro centro" tag="" titulo="Perguntas frequentes">
      <Accordeon perguntas={perguntas} estilo="grande" page="REV-ITA" />
    </Section>
    <Modal triggerId="modal-matematica_trigger" closeText="X">
      <div class="modal-main">
        <h1>Matemática</h1>
        <h2></h2>
        <ul>
          <li>Geometria Plana</li>
          <li>Plana</li>
          <li>Geometria Analítica</li>
          <li>Geometria Espacial</li>
          <li>Trigonometria</li>
          <li>Sequências (PA e PG)</li>
          <li>Polinômios</li>
        </ul>
      </div>
    </Modal>
    <Modal triggerId="modal-fisica_trigger" closeText="X">
      <div class="modal-main">
        <h1>Física</h1>
        <h2></h2>
        <ul>
          <li>Cinemática</li>
          <li>Dinâmica</li>
          <li>Termodinâmica</li>
          <li>Eletrostática</li>
          <li>Eletrodinâmica</li>
          <li>Magnetismo</li>
          <li>Ondas</li>
          <li>Análise Dimensional</li>
          <li>Hidrodinâmica - Curso Completo</li>
          <li>Física moderna - Curso Completo</li>
          <li>Gravitação Universal - Completo</li>
          <li>Física Moderna - Curso Completo</li>
        </ul>
      </div>
    </Modal>
    <Modal triggerId="modal-quimica_trigger" closeText="X">
      <div class="modal-main">
        <h1>Química</h1>
        <h2></h2>
        <ul>
          <li>Funções Inorgânicas</li>
          <li>Reações inorgânicas</li>
          <li>Oxirredução</li>
          <li>Gases</li>
          <li>Soluções e Coloides</li>
          <li>Estequiometria</li>
          <li>Termoquímica</li>
          <li>Termodinâmica Química</li>
          <li>Cinética Química</li>
          <li>Equilíbrio Químico</li>
          <li>Propriedades coligativas</li>
          <li>Eletroquímica</li>
          <li>Radioatividade</li>
          <li>Funções orgânicas</li>
          <li>Reações orgânicas</li>
        </ul>
      </div>
    </Modal>

    <script></script>

    <style scoped>
      .modal-main ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .modal-main li {
        border-radius: 2rem;
        padding: 0.8rem 2rem;
        background: #88bee94f;
      }
      details {
        cursor: pointer;
        height: auto !important;
      }
      details iframe {
        width: 100%;
        height: 23rem;
        border-radius: 1rem;
        margin: 1rem 0;
      }
      summary {
        display: flex;
        justify-content: space-between;
      }
      summary::marker {
        content: "";
      }
      summary span {
        font-family: var(--font-cold);
        color: var(--clr-blue);
      }
      .tema {
        width: -webkit-fill-available;
        text-align: left;
        background: var(--clr-dblue);
        padding: 1.4rem;
        border-radius: 1rem;
        backdrop-filter: blur(0.4rem);
      }
      .tema h2 {
        color: var(--clr-green);
        margin-bottom: 1rem;
      }
      .tema ul li {
        font-size: 0.8rem;
      }
      .tema button {
        font-family: var(--font-book);
        font-size: 0.8rem;
        background: none;
        border: none;
        color: var(--clr-yellow);
        padding-top: 0.8rem;
      }
      .tema button::after {
        content: "→";
        margin-left: 0.3rem;
        transition: 0.1s ease-in-out;
      }
      .tema button:hover {
        color: var(--clr-green);
      }
      .tema button:hover::after {
        margin-left: 0.4rem;
      }
      .rotina {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 3rem;
      }
      .rotina:before {
        /* content: ""; */
        position: absolute;
        width: -webkit-fill-available;
        height: 0.08rem;
        background: var(--clr-green);
        top: 53%;
        z-index: -1;
      }
      .rotina div:first-child {
        background: var(--clr-dblue);
        border-radius: 100rem;
        font-family: var(--font-black);
        font-size: 3rem;
        line-height: 0;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        border: 0.2rem solid var(--clr-green);
        filter: drop-shadow(-0.4rem -0.4rem 0.4rem hsl(215, 100%, 30%))
          drop-shadow(0.4rem 0.4rem 0.4rem hsl(195, 100%, 24%));
      }
      .rotina h2 {
        color: var(--clr-green);
        margin: 0.6rem 0;
      }
      @media screen and (max-width: 768px) {
        .rotina {
          flex-direction: row;
          text-align: start;
          align-items: start;
          gap: 1rem;
          position: relative;
          margin: -1rem 0.6rem 0 5rem;
        }
        .rotina div:first-child {
          width: 3rem;
          height: 3rem;
          font-size: 1.5rem;
          position: absolute;
          top: 0;
          left: -4rem;
        }
      }
    </style>
  </main>
</Layout>
