---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import Capa from "../components/Capa.astro";
import Destaques from "../components/Destaques.astro";
import Section from "../components/Section.astro";
import Cardserv from "../components/Cardserv.astro";
import Accordeon from "../components/Accordeon.astro";

import capa from "../img/turma itaime.png";
import beneficios from "../img/beneficios-1.png";
import materiais from "../img/materiais.png";

import { getEntry } from "astro:content";
const destaques = await getEntry("produtos", "destaques");
const serv = await getEntry("produtos", "serv");
const perguntas = await getEntry("alunos", "perguntas");
---

<Layout title="Turma EEAR" description="Catálise - turma EEAR">
  <main class="container">
    <Capa
      title="Impulsione suas"
      destaque=" matrículas!"
      botao="Entre em contato"
    >
      <p class="txt-capa" slot="conteudo">
        Ofereça aos seus alunos a oportunidade de conquistar um futuro brilhante
        com a parceria do nosso Curso Pré-Vestibular.
      </p>
      <p class="txt-capa" slot="conteudo">
        O Catálise é uma instituição de ensino online com experiência em
        preparar estudantes para os vestibulares mais concorridos do país. Conta
        com uma equipe de professores altamente qualificados e apaixonados por
        ensinar. Tem obtido excelentes resultados conduzindo alunos à aprovação,
        com 24 aprovados na primeira fase do ITA e 21 no IME.
      </p>
      <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
    </Capa>
    <Destaques destaques={destaques} page="PLANO-ESCOLAS" />
    <Capa estilo="claro" title="Transformando sonhos em conquistas  " texto="">
      <ul class="capa-itens" slot="conteudo">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
           Instituto Tecnológico de Aeronáutica (ITA)
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
           Instituto Militar de Engenharia (IME)
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
           Academia da Força Aérea (AFA)
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
           Escola de Especialistas da Aeronáutica (EEAR)
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 132 144"
          >
            <path
              fill="#77DCF8"
              d="M122.35 55.45c12.87 7.23 12.87 25.87 0 33.1L28 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C0 4.51 15.45-4.62 28 2.43l94.35 53.02Z"
              opacity=".7"></path>
          </svg>
           Outros vestibulares
        </li>
      </ul>
      <Image
        src={beneficios}
        alt="Capa do Catálise"
        class="img-capa-material"
        slot="imagem"
        width="770"
        quality="max"
      />
    </Capa>
    <Section
      estilo="centro"
      colunas="col4"
      tag="Planos"
      titulo="Formas de Parceria"
      subtitulo="Trabalhamos com dois modelos de parcerias com escolas para impulsionar a aprovação em vestibulares"
    >
      <!-- <Cardserv serv={serv} page="PLANO-ESCOLAS" /> -->
    </Section>
    <Capa estilo="claro" title="Material didático">
      <div slot="conteudo">
        <p class="txt-capa-claro">
          O nosso Plano Escolas é uma solução sob medida para impulsionar o
          desempenho dos seus alunos e prepará-los para os vestibulares mais
          concorridos do país, incluindo o ITA - Instituto Tecnológico de
          Aeronáutica e IME- Instituto Militar de Engenharia.
        </p>
        <Image
          src={materiais}
          alt="Capa do Catálise"
          class="img-capa img-capa-material"
          slot="imagem"
        />
      </div>
    </Capa>
    <Capa
      title="Faça seu"
      linha="true"
      destaque=" agendamento"
      botao="Faça o seu agendamento!"
      link="https://calendar.app.google/4DxuVx9iGpQgiTAk7"
    >
      <h1 class="valor" slot="conteudo">Sarah Muricy</h1>
      <ul class="capa-itens" slot="conteudo">
        <li>
          <a href="tel:+5512988816588">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 480 480"
            >
              <path
                fill="#fff"
                d="M352 16H128a32 32 0 0 0-32 32v384a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V48a32 32 0 0 0-32-32Zm-72 16a8 8 0 1 1 0 16 8 8 0 0 1 0-16Zm-64 0h32a8 8 0 0 1 0 16h-32a8 8 0 0 1 0-16Zm136 400H128V48h48l6.62 6.62c6 6 14.15 9.38 22.63 9.38h69.49a32 32 0 0 0 22.62-9.38L304 48h48v384Z"
              ></path>
            </svg>
             (12) 98881 6588</a
          >
        </li>
        <li>
          <a href="mailto:contato@catalisevestibulares.com.br">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 500 500"
            >
              <path
                fill="#fff"
                d="M55 70c-24.8 0-45 20.2-45 45v4.26L250 290l240-170.74V115c0-24.8-20.2-45-45-45H55Zm8.52 20h372.92L250 220 63.52 90ZM10 140.27V385c0 24.8 20.2 45 45 45h390c24.8 0 45-20.2 45-45V140.27l-60 42.7V410H70V182.97l-60-42.7Z"
              ></path>
            </svg>
             contato@catalisevestibulares.com.br</a
          >
        </li>
        <Image
          src={capa}
          alt="Capa do Catálise"
          class="img-capa"
          slot="imagem"
        />
      </ul>
      <Section estilo="claro centro" tag="" titulo="Perguntas frequentes">
        <Accordeon perguntas={perguntas} estilo="grande" page="PARCERIAS" />
      </Section>
    </Capa>

    <style scoped>
      .valor {
        font-family: var(--font-black);
        color: var(--clr-yellow);
        margin-top: 2.4rem;
      }
    </style>
  </main>
</Layout>
