---
import type { CollectionEntry } from "astro:content";
import Botao from "./Botao.astro";
import { Modal } from "accessible-astro-components";

interface Props {
  vlink?: CollectionEntry<"produtos">;
  id?: string;
  estilo?: string;
  title: string;
  destaque?: string;
  botao?: string;
  video?: string;
  link?: string;
  linha?: boolean;
  key?: string;
}
const { id, estilo, title, destaque, botao, video, vlink, link, linha, key } =
  Astro.props;

const filtro = vlink?.data.content.filter((item) => item.key === key);
---

<section id={id} class={estilo && estilo}>
  <div>
    <h1>
      {title}
      {linha && <br />}
      {destaque && <span class="destaque">{destaque}</span>}
    </h1>
    <slot name="conteudo" />
    {
      botao || video ? (
        <div class="buttons mt-3">
          {botao && !estilo ? (
            <Botao estilo="grande" texto={botao} link={link} />
          ) : botao && estilo ? (
            <Botao estilo="claro grande" texto={botao} link={link} />
          ) : null}
          {video && <span id={key}>► {video}</span>}
          {filtro?.map((item) => (
            <Modal triggerId={item.key} closeText="X">
              <iframe
                src={item.video}
                title="YouTube video player"
                frameborder="0"
                class="modal-youtube"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              />
            </Modal>
          ))}
        </div>
      ) : null
    }
  </div>
  <div class="capa">
    <slot name="imagem" />
  </div>
</section>

<style scoped>
  section {
    display: flex;
    place-items: center;
    place-content: space-between;
    flex-direction: column;
    width: 100%;
    z-index: 2;
  }
  h1 {
    font-family: var(--font-black);
    text-transform: uppercase;
    margin-bottom: 1.1rem;
  }
  .capa-page {
    position: relative;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .capa {
    filter: drop-shadow(-4rem -4rem 6rem hsl(215, 100%, 30%))
      drop-shadow(4rem 4rem 6rem hsl(195, 100%, 24%));
    z-index: -1;
    position: relative;
  }
  .destaque {
    font-size: clamp(2.3rem, 3.7vw, 3.5rem);
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 0.15rem var(--clr-yellow);
  }
  .claro {
    position: relative;
    background: linear-gradient(
      80deg,
      hsl(226, 100%, 97%),
      hsl(200, 100%, 80%)
    );
    border-radius: 2rem;
    color: var(--clr-black);
    width: calc(78vw - 2rem);
    padding: 3rem 3rem;
    filter: drop-shadow(-4rem -4rem 6rem hsl(215, 100%, 30%))
      drop-shadow(4rem 4rem 6rem hsl(195, 100%, 24%));
    overflow: hidden;
    z-index: 1;
  }
  .claro > div:first-child {
    width: auto;
  }
  .claro h1 {
    font-size: clamp(1.9rem, 4vw, 2.8rem);
    text-transform: none;
  }
  .claro p {
    font-family: var(--font-light);
    font-weight: 600;
  }
  .claro span {
    font-size: 2.8rem;
    color: var(--clr-black);
    -webkit-text-stroke: 0;
  }
  .claro .capa {
    filter: none;
    position: relative;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  .buttons span {
    padding: 1.2rem 1.5rem;
    background: rgb(27 127 204 / 16%);
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: -webkit-fill-available;
  }
  .buttons span:hover {
    background: rgb(27 127 204 / 32%);
  }
  @media screen and (min-width: 768px) {
    section {
      flex-direction: row;
    }
    .capa-page div:first-child {
      text-align: center;
      place-items: center;
      place-self: center;
      display: flex;
      flex-direction: column;
    }
    .claro {
      width: -webkit-fill-available;
    }
    .claro > div:first-child {
      width: clamp(6rem, 70vw, 24rem);
    }
    .claro .capa {
      display: unset;
      position: absolute;
      bottom: 0;
      right: -6rem;
    }
    .buttons span {
      width: auto;
    }
  }
  @media screen and (min-width: 1024px) {
    .capa {
      position: absolute;
      right: clamp(-4rem, -10vw, -4rem);
    }
    .claro {
      padding: 5rem 6rem;
      width: clamp(20rem, 80vw, 75rem);
    }
    .claro > div:first-child {
      width: clamp(6rem, 70vw, 34rem);
    }
    .capa-page {
      flex-direction: row;
      margin: 1.5rem 0;
      height: 26rem;
    }
    .capa-page div:first-child {
      width: 55%;
      text-align: start;
      place-items: start;
      place-self: center;
    }
    .claro .capa {
      display: unset;
      height: auto;
      left: clamp(0rem, 50vw, 40rem);
    }
    .links a {
      display: inline-block;
      padding: 2rem 2rem;
    }
  }
</style>
